<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/styles/register.css">

<div class="container d-flex justify-content-center align-items-center mt-2 mb-3">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4"> 
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1558036117-15d82a90b9b1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <div class="logo">
                        <a class="navbar-link" href="/homes" style="color:black;"><img src="/images/android-chrome-192x192.png" width="50px" height="50px" class="me-2">Homely</a>
                    </div>
                    <h4 class="card-title">Register</h4>
                    <form action="/register" method="POST" class="needs-validation" novalidate>

                        <div class="form-group mb-3">
                            <label for="username" class="mb-2">Username</label>
                            <input type="text" id="username" placeholder="username" name="username" class="form-control" required>
                            <div class="valid-feedback">
                                Looks good!
                              </div>
                            <div class="invalid-feedback">
                                Please provide a valid username
                              </div>
                        </div>
                    
                        <div class="form-group mb-3">
                            <label for="email" class="mb-2">Email</label>
                            <div class="input-group">
                                <input type="email" id="email" placeholder="email" name="email" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide a valid email
                                  </div>
                            </div>   
                        </div>
                    
                        <div class="form-group mb-3">
                            <label for="password" class="mb-2">Password</label>
                            <div class="input-group">
                                <input type="password" id="password" placeholder="password" name="password" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide password
                                  </div>
                            </div>   
                        </div>
                        <button type="submit" class="btn btn-success mb-3">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    